*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.baskett{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
   
}