* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .card{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border: 1px solid aqua;
    padding: 10px 0;
    .btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button{
            cursor: pointer;
        }
        .basket{
            padding: 15px 20px;
            background-color: aqua;
            color: white;
            font-size: 16px;
            font-weight: 500;
            border: none;
            border-radius: 5px;

        }
        .wish{
            background-color: transparent;
            border: none;
            .heart{
                font-size: 20px;
                color: aqua;cursor: pointer;
            }
        }
        
    }
  }