* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fourthSectionContainer {
  background-image: url(./../../../images/feature-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 50px;
  .fourthSectionText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    h1{
        font-size: 40px;
        font-family: sans-serif;
    }
  }
  .fourthSectionBottom {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
    .fourthSectionBox {
      width: 31.5%;
      background-color: white;
      color: black;
      border-radius: 8px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 15px;
      &:hover{
        color: #8a97ff;
        cursor: pointer;


      }
      h2 {
        font-size: 20px;
        font-weight: 700;
        transition: 0.4s;
        cursor: pointer;
       
        span {
          font-size: 22px;
          font-weight: 700;
          transition: 0.6s;
         
        }
      }
      span {
        color: rgb(153, 151, 151);
      }
    }
  }
}
