*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tsContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    .tsImage{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;

        }
    }
    .tsText{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        h1{
            font-family: sans-serif;
            font-weight: 700;
            font-size: 36px;
            color: #222222;
        }
        p{
            font-size: 16px;
        }
        span{
            font-family: sans-serif;
            color: rgb(156, 154, 154);
            font-size: 16px;

        }
        button{
            background-color: #A590FE;
            border: none;
            padding: 15px 27px;
            color: white;
            font-weight: 800;
            font-family: sans-serif;
            transition: 0.6s;
            cursor: pointer;
            &:hover{
                background-color: transparent;
                border: 1px solid #A590FE;
                color: #A590FE;
            }

        }

    }
}